  
/* app css stylesheet */

.strong-text{
    font-weight: 400;
}

body{
  margin-top: 100px;
	background-color: #fbfbfb;
  font-family: 'Open Sans', sans-serif;
 	font-weight: 300;   
 	line-height: 1.42857143;
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.header-gradient{
  background:linear-gradient(from Top left,#D1CDCD,#CECACA,#F2EEEE,#CECACA,#D1CDCD);
  background:-webkit-linear-gradient(Top Left,#D1CDCD,#CECACA,#F2EEEE,#CECACA,#D1CDCD);
  background:-o-linear-gradient(Top Left,#D1CDCD,#CECACA,#F2EEEE,#CECACA,#D1CDCD);
  background:-moz-linear-gradient(Top Left,#D1CDCD,#CECACA,#F2EEEE,#CECACA,#D1CDCD);
}

.modal-header {
  border: none;
  padding: 10px 15px 0 15px;
}

.modal-footer {
  border: none;
}

button.close {
  padding-bottom: 2px;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
}
button .close:hover {
    opacity: .5;
  }
.modalimg:hover{
  margin-top:-300px;
  width:600px;
  z-index: 9000;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 3px rgba(88,88,88,0.5);
}
/*==================================================
 * shadow 3
 * ===============================================*/
.shadow3
{
  position: relative;
}
.shadow3:before
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}
.page-header{
	color:#1B4991;
}
.page-header small{
	color:#3C76D2;
}

.strong-text{
	font-weight: 500;
	color:#585858;
}
input[type="file"] {
    font-family: FontAwesome;
}
.mini-btn{
	background-color: #ffffff;
}
.mini-text{
	width:50px;
	height: 24px;
	 -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}