<style>
  .grid {
    min-width:200px;
    height: 400px;
}
.header-panel{
  border-radius: 10px;
  border:2px inset #888888;
}
.header-panel label{
    color:#323232;
  font-weight: 300;
}
  </style>

 <div class="page-wrapper">
 	<div class="container">
  <div class="page-header">
    <h1> CSV Grid Display</h1>
  </div>
  <div class="col-sm-12 col-xs-12 header-panel">
    <label> Click on the bar in the box to import the csv file. Make changes and fill in the following form to export it back to your computer.<em> This feature works in computers. Not in Mobile</em></label><br/>
    <label>Which columns should we export?</label>
      <select ng-model="export_column_type" ng-init="export_column_type='all'"</select>
        <option value='all'>All</option>
        <option value='visible'>Visible</option>
      </select>
      <label>Which rows should we export?</label>
      <select ng-model="export_row_type" ng-init="export_row_type='all'">
        <option value='all'>All</option>
        <option value='visible'>Visible</option>
        <option value='selected'>Selected</option>
      </select>
      <label>What format would you like?</label>
      <select ng-model="export_format" ng-init="export_format='csv'">
        <option value='csv'>CSV</option>
        <option value='pdf'>PDF</option>
      </select>
      <button ng-click="export()">Export</button>
  </div>
 	<div class="col-sm-12">
    <div class="custom-csv-link-location">
        <span class="ui-grid-exporter-csv-link">&nbsp</span>
      </div>
 		 <div ui-grid="gridOptions" ui-grid-importer ui-grid-edit ui-grid-cellnav ui-grid-selection ui-grid-exporter class="grid col-md-12 col-xs-12"></div>
    </div>
 	</div>

 </div>