.form-group{
    color:#343434;
}
label .custom-radio {
    padding-left: 0;
    margin-bottom: 0;
}
.nowrap {
    white-space: nowrap;
}
.form-horizontal > label {
    line-height: 34px;
    margin-bottom: 0;
    padding-top: 0 !important;
  }
  .form-line{
    line-height: 25px;
    padding-left: 0;
  }
.form-select{
    min-width:100px;
    display: inline-block;
    height: 34px;
    padding-left: 8px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-select option{
    font-weight: 400;
}
.control-label{
    color:#353535;
}

.navbar{
    background-color: #F7D358 !important;
    box-shadow: 0 2px 1px 1px #FCC308;
    z-index: 1000;
}
.navbar >li >a{
    color:#424242;
}
.navbar-brand{
    color:#424242;
}

.navbar-brand >a{
    color:#424242;
}
.dropdown-toggle{
    color: #424242;
}
@media(max-width: 450px){
    .huge {
    font-size: 22px;
    line-height: normal;
}
    .icon-text{
        display: none;
    }

}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

.wrapper {
    padding-left: 0;
}

.page-wrapper {
    width: 100%;
    padding: 0;
    background-color: transparent;
    color:#343434;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;   
    line-height: 1.42857143;
}

.huge {
    font-size: 50px;
    line-height: normal;
}
@media(min-width:768px) {
    .wrapper {
        padding-left: 225px;
    }

    .page-wrapper {
        padding: 10px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;   
        line-height: 1.42857143;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
} 

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: ##424242;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #ffffff;
    background-color: #F7D358;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #F7D358;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

.dropdown{
     background-color: #F7D358;
}

.dropdown >li> a{
    color: #343434;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 0px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #F7D358;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
        z-index: 0;
        box-shadow: 2px 2px 1px 1px #FCC308;
    }

    .side-nav>li>a {
        width: 225px;
        color: #424242;
    }
    .side-nav li> a.active{
        background-color: #fbfbfb;
    }
    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #fbfbfb !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #424242;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}



/* Custom Colored Panels */

.dash-block{
    border: 2px outset #fbfbfb;
    box-shadow: 0 0 4px 0 #efefef;
    margin-bottom: 20px;
}
.dash-map{ 
    height: 410px;
    border: 4px outset #fbfbfb;
    box-shadow: 0 0 4px 0 #efefef;
}
.angular-google-map-container { height: 400px; }
.icon-panel{
    border-radius: 40px;
    color: #fbfbfb;
    margin-bottom: 10px;
}
.icon-panel > i{
    font-size: 100px;
}
.dashboard-panel{
    border-radius: 20px;
    color: #fbfbfb;
    margin-bottom: 10px;
}
.purple{
    background-color: #A901DB;
    border:3px inset rgba(76,11,95,0.4);
    box-shadow: 0px 1px 0 1px rgba(76,11,95,0.6);
}
.purple:hover{
    cursor: pointer;
    border:2px inset rgba(76,11,95,0.6);
    box-shadow: none;
}
.orange{
    background-color: #FE9A2E;
    border:3px inset rgba(197,118,33,0.4);
    box-shadow: 0px 1px 0 1px rgba(197,118,33,0.6);
}
.orange:hover{
    cursor: pointer;
    border:2px inset rgba(197,118,33,0.6);
    box-shadow: none;
}
.green{
    background-color: #5FB404;
    border:3px inset rgba(66,120,90,0.4);
    box-shadow: 0px 1px 0 1px rgba(66,120,90,0.6);
}
.green:hover{
   cursor: pointer;
   border:2px inset rgba(66,120,90,0.6);
   box-shadow: none;
}
.blue{
    background-color: #0174DF;
    border:3px inset rgba(7,71,131,0.4);
    box-shadow: 0px 1px 0 1px rgba(7,71,131,0.6);
}
.blue:hover{
   cursor: pointer;
   border:2px inset rgba(7,71,131,0.6);
   box-shadow: none;
}
.red{
    background-color: #FF0000;
    border:3px inset rgba(198,7,7,0.4);
    box-shadow: 0px 1px 0 1px rgba(198,7,7,0.6);
}
.red:hover{
   cursor: pointer;
   border:2px inset rgba(198,7,7,0.6);
   box-shadow: none;
}